<!-- BusinessTile.razor -->
@* <div class="business-tile">
    <h3>@Id</h3>
    <p>@Name</p>
    <p>@Description</p>
    <p>@BusinessType</p>
    <p>@City</p>
    <p>@PostalCode</p>
    <p>@Street</p>
    <p>@BuildingNumber</p>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string BusinessType { get; set; }
    [Parameter]
    public string City { get; set; }
    [Parameter]
    public string PostalCode { get; set; }
    [Parameter]
    public string Street { get; set; }
    [Parameter]
    public string BuildingNumber { get; set; }
} *@


<div class="business-tile">
    <h3>@Id</h3>
    <p>@Name</p>
    <p>@Description</p>
    <p>@BusinessType</p>
    <p>@City</p>
    <p>@PostalCode</p>
    <p>@Street</p>
    <p>@BuildingNumber</p>
    <button @onclick="OpenVisitModal">Make a Visit</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string BusinessType { get; set; }
    [Parameter]
    public string City { get; set; }
    [Parameter]
    public string PostalCode { get; set; }
    [Parameter]
    public string Street { get; set; }
    [Parameter]
    public string BuildingNumber { get; set; }
    [Parameter]
    public EventCallback<int> OnMakeVisit { get; set; }

    private async Task OpenVisitModal()
    {
        await OnMakeVisit.InvokeAsync(Id);
    }
}